@import './config', './mixins', './media-queries';

body {
    background-color: $off_black;
    color: $white;
    font-family: 'Inter';
}

main {
    @include flexbox(100vh);
}

#card {
    @include flexbox(75%);
    background-color: $dark_grey;
    width: 25%;
    border-radius: .8vw;
    padding: 2vw;

    #profile-info {
        @include flexbox(45%);
        justify-content: space-between;
        padding: 1vw;
    }

    #image {
        border-radius: 50%;
        overflow: hidden;
        aspect-ratio: 1 / 1;
        width: 25%;

        img {
            width: 100%;
        }
    }

    #links {
        @include flexbox(55%);
    }
}

footer {
    @include flexbox;
}