@import './config', './mixins', './media-queries';

body {
    background-color: $off_black;
    color: $white;
    font-family: 'Inter';
}

main {
    @include flexbox(100vh);
}

#card {
    @include flexbox(75%);
    background-color: $dark_grey;
    width: 24%;
    border-radius: .8vw;
    padding: 2vw;

    #profile {
        @include flexbox(45%);
        justify-content: space-between;
        padding: 1vw;

        #image {
            border-radius: 50%;
            overflow: hidden;
            aspect-ratio: 1 / 1;
            width: 30%;
    
            img {
                width: 100%;
            }
        }

        #info {
            @include flexbox(30%);
            gap: 1vh;
            
            span {
                color: $green;
            }
        }

        #caption {
            color: $light_grey;
        }
    }

    #links {
        @include flexbox(55%);
        gap: 2vh;

        .social-link {
            @include flexbox(15%);
            width: 100%;
            background-color: $grey;
            border-radius: .4vw;
            transition: .7s;

            &:hover {
                background-color: $green;
                color: $grey;
                font-weight: 600;
                cursor: pointer;
            }
        }
    }
}

footer {
    @include flexbox(10vh);

    p {
        margin: 0.7vh;
    }

    a {
        text-decoration: none;
        transition: .5s;
        color: $green;

        &:hover {
            text-decoration: underline;
        }
    }
}